.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-family: sans-serif;
    margin-top: 32px;
}.container h1 {
    margin-bottom: 16px;
}.card-grid {
    margin: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}.container .btn-cardapio {
    font-size: 16px;
    background-color: #007bff ;
    color: white;
    font-weight: bold;
    position: fixed;
    transition: all 0.1s linear 0.1s;
}
.container .btn-cardapio:first-of-type{
    left: 16px;
    top: 16px;
}
.container .btn-cardapio:nth-of-type(2){
    left: 16px;
    bottom: 16px;
}
.container .btn-cardapio:nth-of-type(3){
    bottom: 16px;
    right: 16px;
}
.container button:hover {
    background-color: #0056b3 ;
}@media (max-width: 499px) {    
    .card-grid {
        grid-template-columns: 1fr;
    }    .container .btn-cardapio {
        font-size: 12px;
    }.container .btn-cardapio:first-of-type, .container .btn-cardapio:nth-of-type(2){
        left: 0px;
    }
    .container .btn-cardapio:nth-of-type(3){
        right: 0px;
    }}@media (min-width: 500px) and (max-width: 800px) {    
    .card-grid {
        grid-template-columns: 1fr;
    }.container .btn-cardapio {
        font-size: 16px;
    }.container .btn-cardapio:first-of-type, .container .btn-cardapio:nth-of-type(2){
        left: 4px;
    }
    .container .btn-cardapio:nth-of-type(3) {
        right: 4px;
    }
}@media (min-width: 801px) and (max-width: 1200px) {    
    .card-grid {
        grid-template-columns: 1fr 1fr;
    }}