.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-family: sans-serif;
    margin-top: 32px;
}

.card-grid{
    margin: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.container .btn-secondary {
    font-size: 20px;
    background-color: #0275d8;
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 16px;
    right: 24px;
    transition: all 0.1s linear 0.1s;
}

.container button:hover{
    transform: scale(1.1);
}